<!doctype html>
<html lang="en">
<head>

    <% include ../partials/header %>

    <title>Create New Group</title>

    <!-- Custom CSS: common.css -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- Custom JS: common.js -->
    <script src="/js/common.js"></script>

</head>

<body>

<% include ../partials/sidebar %>

<!-- MAIN NEW GROUP PAGE HERE -->
<div id="main">
    <!-- Create new Group Heading -->
    <nav class="container orange lighten-1" id="round-heading" style="margin-bottom: 20px">
        <h2 class="center">
            Create Group
        </h2>
    </nav>

    <!-- New Group Form Container -->
    <div class="container">
        <!-- Success Alerts -->
        <% if(success && success.length > 0) { %>
        <div id="alert-message" class="ui positive message">
            <p><%= success %></p>
        </div>
        <% } %>
        <!-- Error Alerts -->
        <% if(error && error.length > 0) { %>
        <div id="alert-message" class="ui error message">
            <p><%= error %></p>
        </div>
        <% } %>

        <form action="/groups" method="POST">
            <div class="row">
                <!-- Input Box -->
                <div class="col s10">
                    <input id="group-name" name="groupName" class="input-field" type="text" placeholder="Enter Group Name">
                </div>
                <!-- Create Button -->
                <div class="col s2">
                    <button class="btn">Create</button>
                </div>
            </div>
        </form>
    </div>  <!-- End of Create Group Container -->

</div>  <!-- END OF MAIN PAGE -->

</body>
</html>